@charset "utf-8";
/* CSS Document */
/* modified from original at: http://www.htmlgoodies.com/html5/tutorials/create-drop-down-menus-with-css3.html#fbid=5eGidkwifIE */
header div.header_right_wordspage{
    font-size:18px;
    font-weight:normal;
	color:#fff;
    left:50%;
    margin-left:300px;
    /*padding:25px 0;*/
    position:absolute;
}


.drop-menu {
    display: inline-block;
    background-color: #fff;
    background-image: url(..\/images\/settings.png);
    background-position:  2px 5px;
    background-repeat: no-repeat;
    float:right;
	margin-top: 10px;
    /*margin-left: 90px;*/
    margin-right: 10px;
    font-size: 14px;
    height: 40px;
    max-height: 40px;
    width: 40px;
    cursor: pointer;
    border: 1px solid #666;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*border: 1px solid #666;*/
}

.drop-menu:hover {
	border:none;
}

.drop-menu:hover .sub-menu {
    display: inline-block;
    position: relative;
    left: -10px;
    z-index: 1000;
}

.sub-menu {
    display: none;
    width: 130px;
    background: #fff;
    padding: 10px 10px;
    margin-left: -100px;
    margin-top: 0px;
    border: 1px solid #666;
    -webkit-box-shadow: 0px 13px 25px rgba(0,0,0, 0.2);
    -moz-box-shadow: 0px 13px 25px rgba(0,0,0, 0.2);
    box-shadow: 0px 13px 25px rgba(0,0,0, 0.2);
	-moz-border-radius: 5px;
    border-radius: 5px;
}

.sub-menu li {
        list-style-type: none;
        display: block;
        border-bottom: 1px dotted #666;
        font-size: 14px;
        height: 20px;
        padding: 4px 0;
    }
	
.sub-menu li img {
            margin-right: .5em;
        }

.sub-menu li:hover {
        /*border-bottom: 1px dotted #bababa;*/
		font-weight:bold;
    }

.plus {
    display: inline-block;
	margin-left:30px;
   /* -webkit-transition: .3s ease-in-out;
      -moz-transition: .3s ease-in-out;
      -o-transition: .3s ease-in-out;*/
}

.drop-menu:hover .plus {
    /*-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);*/
}

li a.topic, a.topic:focus a.topic:active a.topic:active a.topic:link{
	font-size:12px;
	color:#000;
	text-decoration:none;	
}
li a.topic:hover {
	color:#000;
	text-decoration:none;	
	border-bottom: 1px #fff dotted;
}
