@charset "utf-8";
/* CSS Document */
body {
    background-color: #fff;
  color: #222;
  font: 14px Arial;
}

body a {
  color: #3D5C9D;
  text-decoration: none;
}

div {
    background-color: #fff;
}

#cloudButton {
    width: 80px;
    height: 50px;
    margin-top: 4px;
    margin-left:2px;
    background-image: url(..\/images\/dropboxbtn_notconnected.png);
    /*background-position:  0px 0px;*/
    background-repeat: no-repeat;
    /*border: solid 1px #000;*/
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    background-color: #fff;
    cursor: pointer;
    outline: 0;
    float: left;
}
#helpButton {
    float: right;
}
#prefsButton {
    float: right;
}

a#connectDropbox {color:#0C6;}

h1.thetitle {
  float: left;
  margin-left: 150px;
  padding-top:10px;
  padding-bottom:10px;
  color:#000;
  text-align:center;
  font: 16px Verdana, Geneva, sans-serif
}

h1.usage {
  margin-left: 15px;
  padding-top:10px;
  padding-bottom:10px;
  color:#000;
  font-weight: 900;
  font: 16px "Trebuchet MS", Helvetica, sans-serif;
}p.usage {
  margin-left: 15px;
  padding-bottom:10px;
  color:#000;
  font: 14px Verdana, Geneva, sans-serif
}
h1.remotestorage {
  margin-left: 30px;
  padding-top:5px;
  padding-bottom:5px;
  color:#000;
  font-weight: 900;
  font: 16px "Trebuchet MS", Helvetica, sans-serif;
}p.remotestorage {
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom:10px;
  color:#000;
  font: 14px Verdana, Geneva, sans-serif
}

#container {
    background-color: #fff;
	width:900px;
	margin-left:auto;
	margin-right:auto;
	/*border: 1px dotted #000;*/
    border:solid 1px #000;
    border-radius:5px;
    box-shadow: 2px 2px 2px #888;
}

.jottextarea {
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    /*margin: 5px;
    margin-top: 0px;
	padding:5px;
    padding-bottom: 0px;*/
}
.jotaddbtn {
    clear: both;
	margin-bottom:10px;
}
#add_titleinput {
    width:350px;
}
#add_tagsinput {
    width:300px;
}
.display_block {
    display:block;
}
.display_none {
    display:none;
}
#rightcontrols {
    float:right;
    width:330px;
    height:240px;
    border-width:1px;
    border-style:solid;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    /*background-color: #eef;    */
    background-color: #fff;    
}
#rightcontrols_header {
    width:330px;
    height:20px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    color: #ccc;
    background-color: #44a;
}

.span_centered {
    display:block;
    width:60%;
    margin:0px auto;
}
#rctls_hdr_text {
    margin-left: 30px;
}
#space {
    display: inline-block;
    width:60px;
}
#filterby_div {
    float:right;
    height:175px;
    width:180px;
    margin:0px;
    padding-top: 10px;
    padding-bottom: 5px;
    /*background-color: #efe;*/
    background-color: #fff;
}
#filter_by_date {
    margin-left: 25px;
}#filter_by_tags {
    margin-left: 25px;
}
#filter_date_div {
    padding-left: 22px;
    margin-bottom:10px;
}
#filter_tag_div {
    padding-left: 22px;
}
#startdate{
    width:90px;
    margin-left: 20px;
}
#enddate{
    width:90px;
    margin-left: 20px;
}
#filterbtn_div {
    color:#fef;
    height:30px;
    width:165px;
}
#applyfilters_btn {
    width:95px;
    margin-left:190px;
}
#tagselector_div {
    float:left;
    /*height:225px;*/
    height:175px;
    width:150px;
    margin:0px;
    padding-top: 10px;
    padding-bottom: 5px;
    /*background-color: #fee;*/
    background-color: #fff;
}
#tagselector{
    height:160px;
    width:145px;
    margin:0px;
    margin-top:5px;
    margin-bottom:5px;
    margin-left: 4px;
    border-radius:5px;
}
#stagetags_btn {
    width: 100px;
    margin-left:25px;
/*    background-image: url(..\/images\/arrow-down20h-trans.png);
    background-position:  58px 2px;
    background-repeat: no-repeat;
    height: 25px;
    border: solid 1px #000;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    background-color: #88a;
    cursor: pointer;
    outline: 0;*/
}
#jotcontrols {
	height:35px;
    position:relative;    /* must be positioned so that statusarea position absolute works */
	padding-top:5px;
    padding-bottom:5px;
    overflow: auto;
}
#toggleOrder {
    margin-top: 5px;
    margin-left:10px;
    float:left;
    background-image: url(..\/images\/reorder-20h.png);
    background-position:  1px 1px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    border: solid 1px #000;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    background-color: buttonface;
    cursor: pointer;
    outline: 0;
}
#paginate_prev {
    margin-top: 5px;
    margin-left:10px;
    float:left;
    background-image: url(..\/images\/back-a-page-20h.png);
    background-position:  1px 1px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    border: solid 1px #000;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    background-color: buttonface;
    cursor: pointer;
    outline: 0;
}#paginate_next {
    margin-top: 5px;
    margin-left:10px;
    float:left;
    background-image: url(..\/images\/next-page-20h.png);
    background-position:  1px 1px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    border: solid 1px #000;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    background-color: buttonface;
    cursor: pointer;
    outline: 0;
}
#statusarea {
    position:absolute;
    left:55px;
    top:5px;
    margin-top:0px;
    margin-bottom: 5px;
    margin-left: 60px;
    margin-right: 20px;
    /*width:600px;
    float:left;*/
}
form {
	/*border:solid 2px #bb0;*/
    margin: 5px;
    clear: both;
    border:solid 1px #000;
    border-radius:5px;
    box-shadow: 2px 2px 2px #888;
}

/* this is the jot composition area */
textarea.jot {
	width:500px;
	height:225px;
	min-height:100px;
	max-height:400px;
	max-width:500px;
	padding:10px 10px 5px 10px;
	border:solid 1px #000;
	border-radius:6px;
}

a.edit {
  cursor: pointer;
  float:left;
  margin-top:10px;
  margin-left:10px;
}
a.delete {
  cursor: pointer;
  float:right;
  margin-top:10px;
  margin-right:10px;
}
.jotdiv {
    background-color:#fff;
    border: solid 1px #444;
    border-radius:10px;
    box-shadow: 2px 2px 2px #888;
    margin:0px 5px 5px 5px;

}

.titlediv {
    height:40px;
    background-color:#8aa;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom:solid 2px #000;
    margin:0px;
    padding:0px;
}
.titleleftdiv {
    height:40px;
    width:50px;
    background-color:#44a;
    border-top-left-radius:10px;
    margin:0px;
    padding:0px;
    float:left;
}
.titlecenterdiv {
    height:40px;
    width:786px;
    background-color:#44a;
    margin:0px;
    padding:0px;
    float:left;
}
.titlerightdiv {
    height:40px;
    width:50px;
    background-color:#44a;
    border-top-right-radius:10px;
    margin:0px;
    padding:0px;
    float:right;
}

.title {
    background-color:#44a;
    color:#ccc;
    font-size:14px;
    margin:0px;
    padding:0px;
    height:16px;
    margin-left:0px;
    margin-right:15px;
}
/*.title_editing {
    background-color:#fdd;
    color:#000;
    font-size:14px;
    margin-left:15px;
    margin-right:15px;
}*/
.titleinput {
    background-color:#44a;
    color:#fff;
    font-size:14px;
    margin:0px;
    padding:0px;
    height:16px;
    width:315px;
    margin-top:2px;
    margin-left:0px;
    margin-right:15px;
    border-width:0px;
}
.titleinput_editing {
    background-color:#fdd;
    color:#000;
    font-size:14px;
    margin:0px;
    padding:0px;
    height:16px;
    width:315px;
    margin-top:2px;
    margin-left:0px;
    margin-right:15px;
    /*border:solid 1px #000;*/
}

.timestamp {
    height:14px;
    background-color:#44a;
    color:#ccc;
    font-size:12px;
    margin-top: 16px;
    margin-left:0px;
    /*float:right;*/
}
.tagsspan {
    background-color:#44a;
    color:#ccc;
    font-size:14px;
    margin:0px;
    padding:0px;
    height:16px;
    margin-top:2px;
    /*padding-left:15px;*/
    width:360px;
    /*float:right;*/
}
.tagsinput {
    /*background-color:#88a;*/
    background-color:#44a;
    color:#ccc;
    font-size:14px;
    margin:0px;
    padding:0px;
    width:340px;
    height:16px;
    margin-left:10px;
    border-width:0px;
}
.tagsinput_editing {
    background-color:#fdd;
    color:#000;
    font-size:14px;
    margin:0px;
    padding:0px;
    /*margin-right:15px;*/
    width:340px;
    margin-left:10px;
    /*border:solid 1px #000;*/
}
/*.tagspara {
    background-color:#88a;
    color:#ccc;
    font-size:14px;
    margin:0px;
    padding:0px;
    margin-top:5px;
    width:500px;
    height:16px;
    margin-left:50px;
    white-space:nowrap;
}
.tagspara_editing {
    background-color:#fca;
    color:#000;
    font-size:14px;
    margin:0px;
    padding:0px;
    margin-top:5px;
    width:500px;
    margin-left:50px;
    white-space:nowrap;
}*/

#jotItems {
    padding-top: 5px;
    background-color: #fff;
}

p.jottext {
    background-color:#fff;
    font-size:12px;
    margin:10px 20px 10px 20px;
}
p.jottext_collapsed {
    display:none;
    background-color:#fff;
    font-size:12px;
    margin:10px 20px 10px 20px;
}
p.jottext_editing {
    background-color:#fdd;
    font-size:12px;
    margin:10px 20px 10px 20px;
}

.addjot_img {
    margin-left:10px;
    margin-top:10px;
    background-image: url(..\/images\/add20-trans.png);
    background-position:  2px 2px;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    border: solid 1px #000;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    background-color: buttonface;
    cursor: pointer;
    outline: 0;
}

.mergetags_img {  /* temp  & silly - moves the add this jot button over */
    margin-left:10px;
    background-color: buttonface;
    /*width: 38px;
    height: 38px;
    background-image: url(..\/images\/arrow-up20h-trans.png);
    background-position:  2px 8px;
    background-repeat: no-repeat;
    border: solid 1px #000;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    cursor: pointer;
    outline: 0;*/
}
.cleartags_img {  /* temp  & silly - moves the add this jot button over */
    margin-left:10px;
    background-image: url(..\/images\/cleartags32-trans.png);
    background-position:  2px 2px;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
    border: solid 1px #000;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    background-color: #88a;
    cursor: pointer;
    outline: 0;
}
